table
  tr
    th COMMANDS
    th PURPOSES
  tr
    td npm run dev
    td start your dev
  tr
    td npm run build
    td bundle your code - ready to ship
  tr
    td npm run serve
    td test locally your production build
  tr
    td npm run clean
    td delete development , build and cache folders
  tr
    td npm run test
    td test your function with jest
  tr
    td npm run format
    td prettify and fix your code
