doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='./index.css', rel='stylesheet', type='text/css')
  script(type='module', src='./index.js')
  title Parcel | Boilerplate

include header/header.pug

main
  include table/table.pug
