/******* RESET *******/

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/************** TYPEFACE **************/

@font-face {
  font-family: IBMPlexMono-Bold-Latin1;
  src: url('../assets/fonts/IBMPlexMono-Bold-Latin1.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: IBMPlexMono-Regular-Latin1;
  src: url('../assets/fonts/IBMPlexMono-Regular-Latin1.woff2') format('woff2');
  font-display: swap;
}

/************** VARIABLES **************/

:root {
  /* colors */
  --font-regular: ibmplexmono-regular-latin1, arial, sans-serif;
  --font-bold: ibmplexmono-bold-latin1, arial, sans-serif;
  --black: hsl(0, 0%, 20%);
  --main-color: hsl(36, 88%, 61%);
  --grey: hsl(0, 1%, 79%);
  --space6: 8rem;
  --space5: 4rem;
  --space4: 2rem;
  --space3: 1rem;
  --space2: 0.5rem;
  --space1: 0.25rem;
  --font6: 5rem;
  --font5: 2.441rem;
  --font4: 1.953rem;
  --font3: 1.563rem;
  --font2: 1.3rem;
  --font1: 1rem;
}

/************** GLOBAL STYLES **************/

html {
  background-color: var(--main-color);
}

/******* IMPORTS *******/

@import './header/header.css';
@import './table/table.css';
